* {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    overflow-x: hidden;
    font-size: 14px;
}

.dataTables_wrapper {
    width: 95%;
    margin-left: 3rem !important;
    margin: 2rem;
    table-layout: fixed;
}

#dataTable {
    table-layout: fixed;
}

#aviso-compos-obligatorios {
    border: 1px solid #CCC;
    border-radius: 5px;
    background-color: #FFF;
    padding: 20px 10px 0 10px;
    width: auto;
    float: left;
    margin-bottom: 10px;
    margin-left: 30px;
    box-shadow: 5px 5px 5px #888888;
}

.opcionLine {
    min-height: 30px;
    margin-bottom: 5px;
}

#opcionVision {
    width: 100%;
    border: 1px #808080 solid;
    margin-top: 10px;
    border-radius: 5px;
    height: 200px;
    overflow-y: auto;
    background-color: white;
}

.contOpcion {
    width: 14%;
    float: left;
    margin-bottom: 5px;
    display: contents;
}

.div50 {
    width: 49.86%;
    height: 200px;
    border-right: 1px gray solid;
    overflow-y: auto;
    float: left;
    display: block;
}

.titulodiv50 {
    text-align: center;
    width: 100%;
    display: block;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

#opcionVision[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555;
    font-size: 17px;
    position: relative;
    top: 10px;
    font-size: 13px;
    color: black;
    font-weight: bold;
    left: 10px;
}

.butonDownStatusBar img {
    position: absolute;
    top: 7px;
    left: 10px;
}

.butonDownStatusBar {
    background-color: #EFEFEF;
    border: 1px solid #CCC;
    background-position: 5px 5px;
    font-weight: bold;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    top: 10px;
    cursor: pointer;
}

#consultar {
    display: block;
    width: 15px;
    height: 14px;
    position: absolute;
    top: 70px;
    left: 987px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(32, 32, 32, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#loadingOverlay {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.spinner-border {
    width: 6rem;
    height: 6rem;
    position: relative;
    margin: auto;
    top: 50%;
    left: 50%;
}

.modal-dialog {
    max-width: 70em;
    width: 70em;
    margin-right: auto;
    margin-left: auto;
}

#tienda_all text {
    margin-left: 0.25rem;
}